immunity-users @ https://github.com/edge-servers/immunity-users/tarball/master
netdiff @ https://github.com/edge-servers/netdiff/tarball/master
jsonfield~=3.1.0
django-flat-json-widget @ https://github.com/edge-servers/django-flat-json-widget/tarball/master
immunity-utils[celery] @ https://github.com/edge-servers/immunity-utils/tarball/master
