responses~=0.23.1
pytest-asyncio~=0.21.0
pytest-django~=4.5.2
freezegun~=1.1.0
# Needed to test integrations
immunity-monitoring @ https://github.com/edge-servers/immunity-monitoring/tarball/master
immunity-controller @ https://github.com/edge-servers/immunity-controller/tarball/master
immunity-utils[qa,selenium] @ https://github.com/edge-servers/immunity-utils/tarball/master
redis~=4.5.4
django_redis~=5.2.0
